/* BODY */

* {
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: 'Roboto';
    min-width: 160px;
    position: relative;
}

/* HEADER */

header {
    width: 97%;
    background-color: white;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.hover {
    font-family: 'Nunito';
    font-size: 1em;
}

.hover:hover {
    font-weight: bold;
    transform: scale(1.1);
    cursor: pointer;
}

/* button */

button {
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 0.7em;
    font-weight: 500;
}

h2 {
    color: RGBa(0, 0, 0, 0.6);
    font-size: 1em;
    font-weight: 500;
}

.toggler img {
    height: 4em;
}

/* menu */

.menu {
    display: flex;
}

.menu ul li {
    display: inline-block;
    padding-right: 2em;
    padding-top: 1.5em;
}

/* right menu */

.on-the-right {
    display: flex;
}

.right-assets {
    padding-left: 3em;
    padding-top: 1.5em;
}

.right-assets a img {
    margin-top: -0.3em;
}

/* search menu */

.research-and-all, .form-search, .left-search, .right-search, .menu-best-match, .search-input-algolia {
    display: flex;
}

.research-and-all, .search-input-algolia, .menu-best-match {
    justify-content: space-between;
}

/* form */

.research-and-all form {
    width: 70%;
}

.search-input-algolia {
    width: 100%;
    position: relative;
}

.black-draw {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    bottom: 1em;
}

.search-button img {
    padding: 1em 3.5em 1em 1em;
    width: 2.3em;
}

.search-input {
    margin-top: 0.5em;
    margin-left: -1px;
    margin-bottom: 1em;
    border: none;
    background-color: transparent;
    height: 2em;
    font-size: 1.6em;
    font-weight: 300;
}

.search-input:focus {
    outline: none;
}

.algolia {
    font-size: 1em;
    color: RGBa(0, 0, 0, 0.8);
}

.right-search {
    padding-top: 1em;
}

.right-search img {
    width: 12px;
    height: 12px;
    padding-left: 1.4em;
}

/* bestmatch */

.menu-best-match {
    width: 50%;
    margin: 0.4em 0em 0 2em;
    position: relative;
}

.menu-best-match h2 {
    font-size: 1.8em;
}

.grey-draw {
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: RGBa(0, 0, 0, 0.1);
    bottom: 1em;
}

.menu-best-match a {
    margin-top: -0.2em;
}

/* SECTION */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 1em 0em;
    width: 97%;
    min-width: 97%;
    background-color: white;
}

.block {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    max-width: 50vh;
    min-width: 50vh;
    max-height: 60vh;
    height: 55vh;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    padding: 1.2em;
}

.block1 {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 50vh;
    min-width: 50vh;
    max-height: 60vh;
    height: 60vh;
    padding: 1.1em;
}

.overview {
    background-color: rgb(253, 247, 247);
    border-radius: 20px;
    padding: 2rem;
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 70%;
    max-height: 100%;
    /* pas de height spécifiée, la div adapte sa hauteur au contenu */
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.block:hover .overview {
    transform: translateY(0);
}

.slidecontainer {
    width: 100%;
    padding-top: 1em;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: #aca6a6;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.price-choice {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-range {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: -2.6em;
    margin-bottom: 2em;
}

.demo {
    display: block;
    margin: auto;
    margin-top: 10em;
}

.name {
    margin-bottom: 10px;
}

.image {
    width: 99%;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    border: 3px rgb(155, 148, 148) solid;
}

.image {
    transition: transform 330ms ease-in-out;
}

.image:hover {
    transform: scale(1.5);
}

.infos {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 97%;
    margin: 1em;
    margin-bottom: 2em;
}

.infos-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title1 {
    font-size: 16px;
    color: rgb(165, 159, 159);
    margin-bottom: 3.5em;
}

.under {
    display: none;
    box-shadow: 0px 1px 2px #ccc;
    background-color: white;
    position: absolute;
    top: 30px;
    width: 100%;
    z-index: 1000;
}

.under li {
    float: none;
    width: 100%;
    text-align: left;
}

.under a {
    padding: 10px;
    border-bottom: none;
}

.under a:hover {
    border-bottom: none;
    background-color: RGBa(200, 200, 200, 0.1);
}

.unfolding {
    width: 100%;
    padding-bottom: 1em;
    margin: 0.2em;
    border-bottom: 1px solid rgb(182, 175, 175);
}

.unfolding>a::after {
    display: block;
    content: "▼";
    text-align: right;
    font-size: 12px;
}

.title2 {
    margin-top: 1.2em;
    padding-bottom: 0.5em;
    ;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 70%;
    margin: 0 0;
    background-color: white;
    top: 0px;
}

nav ul {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    list-style-type: none;
}

nav ul li {
    float: left;
    width: 25%;
    text-align: left;
    position: relative;
}

nav ul::after {
    content: "";
    display: table;
    clear: both;
}

nav a {
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover {
    color: rgb(119, 116, 113);
    border-bottom: 2px solid rgb(128, 127, 123);
}

nav>ul li:hover .under {
    display: flex;
    flex-direction: column;
    text-align: left;
}

/* FOOTER */

/* .footer-page-number {

} */

.page-number {
    display: flex;
}

.page-number a {
    margin: 0.5em;
    padding: 0.3em;
    text-align: center;
}

footer {
    width: 97%;
    text-align: left;
    position: absolute;
    bottom: 0em;
}

@media screen and (max-width: 800px) {
    .icon {
        display: none;
    }
    .title2, .slidecontainer, .price-choice {
        display: none;
    }
    .block1 {
        display: none;
    }
    .right-search {
        display: none;
    }
    .research-and-all {
        display: flex;
        flex-direction: column;
    }
    .hidden {
        display: none;
    }
}